AWS_ACCESS_KEY_ID=EXAMPLEKEYID1234567890
AWS_SECRET_ACCESS_KEY=EXAMPLESECRETACCESSKEY1234567890EXAMPLE
AWS_REGION=your-aws-region

EMAIL_SUBJECT="A Super Important Email"
EMAIL_SENDER="Example Exampleton" <exampletone@example.tld>
EMAIL_RECIPIENT="John Doe" <doej@email.tld>
